<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-rkmsnc-mytoast" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>MyToast</name>
    <js-module name="MyToast" src="www/MyToast.js">
        <clobbers target="MyToast" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="MyToast">
                <param name="ios-package" value="MyToast" />
            </feature>
        </config-file>
        <source-file src="src/ios/MyToast.m" />
    </platform>
    <platform name="android">
        <config-file parent="/*" target="config.xml">
            <feature name="MyToast">
                <param name="android-package" value="cordova.plugin.rkmsnc.mytoast.MyToast" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/MyToast.java" target-dir="src/cordova/plugin/rkmsnc/mytoast" />
    </platform>
</plugin>